In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Object creation. 

# create a series object with a 1d array. 
s = pd.Series([1,3,5,np.nan,6.8])
s

# create a DataFrame

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156

In [5]:
df2 = pd.DataFrame({
        'A': 1,
        'B': pd.Timestamp('20170211'),
        'C': pd.Series(1,index=list(range(4)), dtype='float32'),
        'D': np.array([3]*4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
    })
df2
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [6]:
# viewing datra
df.head()

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355

In [7]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.434842    1.750655    0.773283    0.798060    0.868358   -1.409111
B    0.164035   -0.229159   -0.599245   -0.388058   -0.488198   -0.059399
C    1.099480   -0.001455   -0.521495   -0.391900    0.094651    2.420744
D    1.564774   -0.364463    2.112135    0.468589   -0.025355   -1.072156

In [8]:
df.tail()

                   A         B         C         D
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156

In [9]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.702681 -0.266670  0.450004  0.447254
std    1.107746  0.284356  1.121458  1.200998
min   -1.409111 -0.599245 -0.521495 -1.072156
25%    0.779477 -0.463163 -0.294288 -0.279686
50%    0.833209 -0.308608  0.046598  0.221617
75%    1.293221 -0.101839  0.848272  1.290728
max    1.750655  0.164035  2.420744  2.112135

In [10]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.434842    1.750655    0.773283    0.798060    0.868358   -1.409111
B    0.164035   -0.229159   -0.599245   -0.388058   -0.488198   -0.059399
C    1.099480   -0.001455   -0.521495   -0.391900    0.094651    2.420744
D    1.564774   -0.364463    2.112135    0.468589   -0.025355   -1.072156

In [11]:
df.sort_index(axis=1, ascending=False) # sorts index in nonascending order

                   D         C         B         A
2013-01-01  1.564774  1.099480  0.164035  1.434842
2013-01-02 -0.364463 -0.001455 -0.229159  1.750655
2013-01-03  2.112135 -0.521495 -0.599245  0.773283
2013-01-04  0.468589 -0.391900 -0.388058  0.798060
2013-01-05 -0.025355  0.094651 -0.488198  0.868358
2013-01-06 -1.072156  2.420744 -0.059399 -1.409111

In [12]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156
2013-01-01  1.434842  0.164035  1.099480  1.564774

In [16]:
df['A']

2013-01-01    1.434842
2013-01-02    1.750655
2013-01-03    0.773283
2013-01-04    0.798060
2013-01-05    0.868358
2013-01-06   -1.409111
Freq: D, Name: A, dtype: float64

In [17]:
df[0:3]

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135