In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Object creation. 

# create a series object with a 1d array. 
s = pd.Series([1,3,5,np.nan,6.8])
s

# create a DataFrame

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156

In [5]:
df2 = pd.DataFrame({
        'A': 1,
        'B': pd.Timestamp('20170211'),
        'C': pd.Series(1,index=list(range(4)), dtype='float32'),
        'D': np.array([3]*4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
    })
df2
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [6]:
# viewing datra
df.head()

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355

In [7]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.434842    1.750655    0.773283    0.798060    0.868358   -1.409111
B    0.164035   -0.229159   -0.599245   -0.388058   -0.488198   -0.059399
C    1.099480   -0.001455   -0.521495   -0.391900    0.094651    2.420744
D    1.564774   -0.364463    2.112135    0.468589   -0.025355   -1.072156

In [8]:
df.tail()

                   A         B         C         D
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156

In [9]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.702681 -0.266670  0.450004  0.447254
std    1.107746  0.284356  1.121458  1.200998
min   -1.409111 -0.599245 -0.521495 -1.072156
25%    0.779477 -0.463163 -0.294288 -0.279686
50%    0.833209 -0.308608  0.046598  0.221617
75%    1.293221 -0.101839  0.848272  1.290728
max    1.750655  0.164035  2.420744  2.112135

In [10]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.434842    1.750655    0.773283    0.798060    0.868358   -1.409111
B    0.164035   -0.229159   -0.599245   -0.388058   -0.488198   -0.059399
C    1.099480   -0.001455   -0.521495   -0.391900    0.094651    2.420744
D    1.564774   -0.364463    2.112135    0.468589   -0.025355   -1.072156

In [11]:
df.sort_index(axis=1, ascending=False) # sorts index in nonascending order

                   D         C         B         A
2013-01-01  1.564774  1.099480  0.164035  1.434842
2013-01-02 -0.364463 -0.001455 -0.229159  1.750655
2013-01-03  2.112135 -0.521495 -0.599245  0.773283
2013-01-04  0.468589 -0.391900 -0.388058  0.798060
2013-01-05 -0.025355  0.094651 -0.488198  0.868358
2013-01-06 -1.072156  2.420744 -0.059399 -1.409111

In [12]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156
2013-01-01  1.434842  0.164035  1.099480  1.564774

In [16]:
df['A']

2013-01-01    1.434842
2013-01-02    1.750655
2013-01-03    0.773283
2013-01-04    0.798060
2013-01-05    0.868358
2013-01-06   -1.409111
Freq: D, Name: A, dtype: float64

In [17]:
df[0:3]

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135

In [19]:
df.loc[dates[0]]

A    1.434842
B    0.164035
C    1.099480
D    1.564774
Name: 2013-01-01 00:00:00, dtype: float64

In [20]:
df.loc[:,['A', 'B']]

                   A         B
2013-01-01  1.434842  0.164035
2013-01-02  1.750655 -0.229159
2013-01-03  0.773283 -0.599245
2013-01-04  0.798060 -0.388058
2013-01-05  0.868358 -0.488198
2013-01-06 -1.409111 -0.059399

In [21]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355

In [22]:
df

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156

In [23]:
df[df.A > 0, df.B < 0]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [24]:
df[df.A >0 and df.B < 0]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [25]:
df[df > 0]

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655       NaN       NaN       NaN
2013-01-03  0.773283       NaN       NaN  2.112135
2013-01-04  0.798060       NaN       NaN  0.468589
2013-01-05  0.868358       NaN  0.094651       NaN
2013-01-06       NaN       NaN  2.420744       NaN

In [27]:
 df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [28]:
 df1.loc[dates[0]:dates[1],'E'] = 1

In [30]:
df1

                   A         B         C         D    E
2013-01-01  1.434842  0.164035  1.099480  1.564774  1.0
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463  1.0
2013-01-03  0.773283 -0.599245 -0.521495  2.112135  NaN
2013-01-04  0.798060 -0.388058 -0.391900  0.468589  NaN

In [31]:
df1.dropna(how='any')

                   A         B         C         D    E
2013-01-01  1.434842  0.164035  1.099480  1.564774  1.0
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463  1.0

In [32]:
df.fillna(value=5)

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  1.750655 -0.229159 -0.001455 -0.364463
2013-01-03  0.773283 -0.599245 -0.521495  2.112135
2013-01-04  0.798060 -0.388058 -0.391900  0.468589
2013-01-05  0.868358 -0.488198  0.094651 -0.025355
2013-01-06 -1.409111 -0.059399  2.420744 -1.072156

In [33]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

In [34]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  1.434842  0.164035  1.099480  1.564774
2013-01-02  3.185497 -0.065123  1.098025  1.200311
2013-01-03  3.958779 -0.664368  0.576529  3.312446
2013-01-04  4.756839 -1.052426  0.184630  3.781035
2013-01-05  5.625197 -1.540623  0.279281  3.755680
2013-01-06  4.216087 -1.600022  2.700025  2.683524